body {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  margin: 3rem auto 0;
  width: 90%;
  max-width: 45rem;
  border-radius: 1.25rem;
  padding: 1.25rem 1rem;
  background: rgb(0, 255, 166);
}

.search-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1.875rem;
  margin-top: 0.625rem;
}

.search-container input {
  width: 70%;
  height: 3rem;
  border: 1px solid;
  border-radius: 0.5rem;
  padding: 0.125rem 1rem;
  font-size: 1rem;
  outline: none;
  background-color: white;
  color: #555555; 
}

.search-container button {
  border:  none;
  border-radius: 0.5rem;
  background-color: black;
  color: white;
  font-size: 1.25rem;
  cursor: pointer;
  padding: 0.9rem 1rem;
}

.loading {
  font-size: 3.75rem;
  font-weight: bolder;
  color: black;
}

.city-name {
  margin-bottom: 0.625rem;
}

.date {
  font-size: 1.125rem;
  font-weight: 500;
  font-style: italic;
}

.temperature {
  font-size: 4rem;
  color: black;
  font-weight: bold;
  text-align: center;
}

.description {
  color: black;
  font-size: 1.375rem;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 1.25rem;
}

.weather-info{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1.25rem;
  padding: 0 1.25rem;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1px;
}